# prj js object
js object
const prj = {Id: 11,
    number: "011",
    title: "SQL advanced queries",
    info: "mUltiple advanced queries to  thoroughly explore and analyse data on a custom created dataset",
    subInfo: "SUBQUERIES, UNIONS, WindowFunctions, OVER, RANK" 
    imgPath: thb[11],
    category: "cat-c",
    dataSource: "",
}

Task: explain code into paragraphs briefly and at last provide code with proper comments.
Style: Academic
Tone: Professional and 1st person
Audience: 30-year old
Format: Text

<h4>Query 1</h4>
1. Write a query that returns the following:emp_id,first_name,last_name, position_title, salary and a column that returns the average salary for every job_position. Order the results by the emp_id.
<br/>
2.How many people earn less than there avg_position_salary?
<br/>
3.Write a query that answers that question.Ideally, the output just shows that number directly.

<Code>
SELECT
emp_id,
first_name,
last_name,
position_title,
salary,
ROUND(AVG(salary) OVER(PARTITION BY position_title),2) as avg_position_sal
FROM employees
ORDER BY 1;

SELECT
COUNT(*)
FROM (
SELECT 
emp_id,
salary,
ROUND(AVG(salary) OVER(PARTITION BY position_title),2) as avg_pos_sal
FROM employees) a
WHERE salary < avg_pos_sal;

</Code>
<br/>
<br/>
<h4>Query 2</h4>
Write a query that returns a running total of the salary development ordered by the start_date.
<Code>
SELECT 
emp_id,
salary,
start_date,
SUM(salary) OVER(ORDER BY start_date) as salary_totals
FROM employees;
</Code>
<br/>
<br/>
<h4>Query 3 </h4>
Create the same running total but now also consider the fact that people were leaving the company.

<Code>
SELECT 
start_date,
SUM(salary) OVER(ORDER BY start_date)
FROM (
SELECT 
emp_id,
salary,
start_date
FROM employees
UNION 
SELECT 
emp_id,
-salary,
end_date
FROM v_employees_info
WHERE is_active ='false'
ORDER BY start_date) a 
</Code>
<br/>
<br/>
<h4>Query 4 </h4>
1. Write a query that outputs only the top earner per position_title including first_name and position_title and their salary.
<br/>
<Code>
SELECT
first_name,
position_title,
salary
FROM employees e1
WHERE salary = (SELECT MAX(salary)
			   FROM employees e2
			   WHERE e1.position_title=e2.position_title)

</Code>
<br/>
<br/>
<h4>Query 5 </h4>
Write a query that returns all meaningful aggregations of: sum of salary, number of employees, average salary grouped by all meaningful combinations of division, department, position_title.
<Code>
SELECT 
division,
department,
position_title,
SUM(salary),
COUNT(*),
ROUND(AVG(salary),2)
FROM employees
NATURAL JOIN departments
GROUP BY 
ROLLUP(
division,
department,
position_title
)
ORDER BY 1,2,3
</Code>
<br/>
<br/>
<h4>Query 6 </h4>
Write a query that returns all employees (emp_id) including their position_title, department, their salary, and the rank of that salary partitioned by department. The highest salary per division should have rank 1.
<Code>
SELECT
emp_id,
position_title,
department,
salary,
RANK() OVER(PARTITION BY department ORDER BY salary DESC)
FROM employees
NATURAL LEFT JOIN department
</Code>
<br/>
<br/>
<h4>Query 7 </h4>
Write a query that returns only the top earner of each department including their emp_id, position_title, department, and their salary.
<Code>
SELECT * FROM
(
SELECT
emp_id,
position_title,
department,
salary,
RANK() OVER(PARTITION BY department ORDER BY salary DESC)
FROM employees
NATURAL LEFT JOIN departments) a
WHERE rank=1
</Code>
<br/>
<br/>

In [ ]:
#Step2

<p>

<br>
<br>

</p>

In [ ]:
#Step3

<p>

<br>
<br>

</p>

In [ ]:
#Step4

<p>

<br>
<br>

</p>

In [ ]:
#Step5

<p>

<br>
<br>

</p>